<div class="center">
  <table class="table table-bordered">
   <header>
   </header>
    <body>
    <div>
       <tr>
         <th>creater</th>
         <td>Hiroki Nagamine</td>
       </tr>
       <tr>
         <th>Profile</th>
         <td>About Hiroki Nagamine
          Trance composer & DJ from Japan.,<br>
          Style : Pure uplifting,emotional & melodic trance.<br>
          I was born in Ibaraki Japan in 1986.<br>
          Started trance music compose in 2010.<br>
          Signed to Gent Trance Division and Blue Soho Recordings in 2013.<br>
          His tracks like “saw”on Gent Trance Division are currently supported by important of the trance scene like Aly&Fila on FSOE287. and this song was chosen wonder of the year 2013 on FSOE.
          Please enjoy my trance world!!
         </td>
       </tr>
        <tr>
         <th>Equipments</th>
          <td>
            iMac 27<br>
            Mac OSX 10.14 Mojave<br>
            Apple Logic X(AU Plugin)<br>
          </td>
        </tr>
     </div>
    </body>
  </table>
   <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/328214093&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
</div>
      
