<div class= "main-container">
  <div class="center jumbotron">
    <div class="text-center">
     <h1>Plugin-Manager</h1>
      <%=link_to 'Plugins',plugins_path,class: 'btn btn-primary' %>
     <%=link_to 'Instruments',instruments_path,class: 'btn btn-primary' %>
    </div>
  </div>
</div>