<div class= "main-container">
    <div class="text-center">
       <h1>Select Instruments Category</h1>
          <% @instrument_kinds.each do |instrument_kind| %>
      <ul>
        <li><%=link_to instrument_kind.name,instrument_kind %></li>
      </ul>
      <% end %>
     </div>
</div>
