<div class="text-center">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ソフトシンセの名前</th>
        <th>ソフトシンセのメーカー</th>
      </tr>
    </thead>
    <tbody>
      <% @instruments.each do |instrument| %>
        <tr>
          <td><%= link_to instrument.instrument_name,instrument %></td>
          <td><%=instrument.company %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
    
 

<%= link_to 'AddInstrument(StaffOnly)',new_instrument_path,class: 'btn btn-primary' %>
