<div class= "main-container">
    <div class="text-center">
     <h1>Select plugin Category</h1>
       <% @plugin_kinds.each do|plugin_kind| %>
       <ul>
        <li><%= link_to plugin_kind.name,plugin_kind %></li>
       </ul>
        <% end %>
    </div>