  <table class="table table-bordered">
    <thead>
      <tr>
        <th>プラグインの名前</th>
        <th>プラグインのメーカー</th>
      </tr>
    </thead>
    <tbody>
      <% @plugins.each do |plugin| %>
        <tr>
          <td><%= link_to plugin.plugin_name,plugin%></td>
          <td><%=plugin.company %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div>
    
  </div>

<%= link_to 'Add Plugin(StaffOnly)',new_plugin_path,class: 'btn btn-primary',class: 'glyphicon glyphicon-ok'%>


